<div class="row">
    <div>
        <h1>Greeted List:</h1>
    </div>

    <table>
        <tr class="colorBars">
            <th>Names</th>
            <!--"th" table header-->
            {{!-- <th>Counter</th>
            <th>When</th> --}}
        </tr>

        {{#each name}}
        <tr class="nameColor">
            <a href="/greeted">
                <td> {{@key}}</td>
            </a>

        </tr>

        {{/each}}
    </table>
</div>