<div class="row">
    <div>
        <h1>Greeted List:</h1>
    </div>
    <div>
        <h2 class="nameColor">Names</h2>
    </div>
    <ul id="container"><!-- <ul> element-->
        {{#each name}}
        <!--1. to iterate over a list of items used the built-in called "each helper"
            2.  Inside the block, used "this expression to reference the current context -->

        <a href="/counter/{{@this.key}}">
            <!--so for object iteration, {{@key}} expression to references the current key name-->
            <li> {{@this.key}} </li>
        </a>
        {{/each}}
    </ul>

</div>
