<div class="row">
    <div>
        <button class="button-primary previouBtn" on type="submit" name="button"> <a href="/">Back</a></button>
    </div>

    <div>
        <h1>
            <center><u>Greeted List</u>
                <center />
        </h1>
    </div>
    <div>
        <h2 class="nameColor">Names:</h2>
    </div>
    <ul id="container">
        <!-- <ul> element-->
        {{#each name}}
        <!--1. to iterate over a list of items used the built-in called "each helper"
            2.  Inside the block, used "this expression to reference the current context -->

        <a href="/counter/{{name}}">
            <!--so for object iteration, {{@key}} expression to references the current key name-->
            <li> {{name}} </li>
        </a>
        {{/each}}
    </ul>

</div>