<div class="row">
            <h1>Greetings WebApp</h1>
        </div>
    <!--first form-->    
    <form action="/greetings">
        <div class="row">
            <span class="label-body">Name</span>
            <input type="text" name="alphabetOnly" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" class="theName" id="Name">
            
        </div>
       

        <div class="row">
            <input type="radio" name="language" class="language" value="IsiXhosa">
            <span class="label-body">IsiXhosa</span>
            <input type="radio" name="language" class="language" value="English">
            <span class="label-body">English</span>
            <input type="radio" name="language" class="language" value="Afrikaans">
            <span class="label-body">Afrikaans</span>
            <button class="button-primary greetbtn" on type="submit" name="button">Greetme</button>
        </div>
    </form>
    <!--second form-->  
    <form action="/counter/:USER_NAME" method="POST">
        <div class="row">
            <h3>Counter: <span class="greetingsCounter"></span></h3>
        </div>
    </form>
    <!--third form--> 
    <form action="/reset" method="POST">
        <div>      
            <button class="button-secondary resetbtn" on type="submit" name="button">Reset</button>
        </div>
    </form>
    <!--last form--> 
    <form action="/greeted" method="POST">
        <div class="printHere">
            <p></p>
        </div>
    </form>